.notif-ul {
    max-height: calc(100vh - 200px);
    overflow: auto;
}

.notif-items {
    display: flex;
    flex-direction: column;
    margin: 5px;
    gap: 10px;

}

.notif-card {
    padding: 5px 15px 5px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    background-color: #f5f3f5;
}

.notif-card > i {
    font-size: 60px;
}

.notif-content {
    display: flex;
    flex-direction: column;
}

.notif-message {
    margin-bottom: 5px;
}

.saved-jobs-ul {
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 10px;
    padding: 10px;
    max-height: calc(100vh - 200px);
}

#savedJobLi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: whitesmoke;
    align-items: center;
}

#savedJobContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#jobType {
    font-weight: bold;
}

#jobType,
#jobCompany,
#jobAddress,
#viewBtn {
   font-size: 12px;
}